{% extends "base.html" %}

{% block content %}
<h1>Create Book</h1>
<form method="post" action="/books/"> <!-- action to submit in books with method POST in def create_book-->
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" required>
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <select class="form-control" name="author_id" required>
            <option value="" disabled selected>Select an author</option>
            {% for author in authors  %}
            <option value="{{author.id}}">{{author.name}}</option>
            {% endfor %}

        </select>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control"  name="description" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
{% endblock %}