{% extends "base.html" %}

{% block content %}
<h1>Update Book</h1>
<form method="post" action="/books/{{book.id}}"> <!-- action to submit in books with method POST in def update_book-->
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="{{ book.title }}" required>
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <select class="form-control" name="author_id" required>
            <option value="" disabled selected>{{book.author.name}}</option>
            {% for author in authors  %}
            <option value="{{author.id}}" {% if book.author_id == author.id %} selected {% endif %}>{{author.name}}</option>
            {% endfor %}
        </select>    
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3">{{ book.description }}</textarea>
    </div>
    <button type="submit"   class="btn btn-primary">Update</button>
</form>
{% endblock %}